/* Oleo Script */
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
/* Noto Sans KR */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
/* Pretendard */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#root {
  width: 100vw;
  height: 100vh;
}

* {
  /*opera*/
  box-sizing: border-box;
  /*firefox*/
  -moz-box-sizing: border-box;
  /*webkit chrome*/
  -webkit-box-sizing: border-box;
  font-family: Noto Sans KR, Pretendard, sans-serif;
  /* 줄바뀜 제거 */
  white-space: nowrap;
}

.title-font {
  font-family: Oleo Script;
}

.eng-font {
  font-family: Roboto;
}

button {
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

input {
  border: none;
  outline: none;
  background-color: transparent;
}

.fontawesome {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  :root {
    --title-margin: 50px;
    --inputsec-margin: 50px;
    --input-right-margin: 1rem;
    --input-left-padding: 0.4rem;
    --list-vertical-margin: 1.25rem;
    --item-horizontal-padding: 1rem;

    /* input width = (main width - 6rem) / 2 */
    --main-width: 500px;
    --input-width: 202px;
    --input-height: 4.5rem;
    --input-rel-top: 1.5rem;
    --list-height: 4.5rem;
    --item_span-width: 350px;

    --byte_displayer-ft-size: 0.8rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  :root {
    --title-margin: 50px;
    --inputsec-margin: 50px;
    --input-right-margin: 1rem;
    --input-left-padding: 0.4rem;
    --list-vertical-margin: 1.25rem;
    --item-horizontal-padding: 1rem;

    /* input width = (main width - 6rem) / 2 */
    --main-width: 600px;
    --input-width: 252px;
    --input-height: 4.5rem;
    --input-rel-top: 1.5rem;
    --list-height: 4.5rem;
    --item_span-width: 450px;

    --byte_displayer-ft-size: 0.8rem;
  }
}

@media screen and (min-width: 1025px) {
  :root {
    --title-margin: 50px;
    --inputsec-margin: 50px;
    --input-right-margin: 1rem;
    --input-left-padding: 0.4rem;
    --list-vertical-margin: 1.25rem;
    --item-horizontal-padding: 1rem;

    /* input width = (main width - 6rem) / 2 */
    --main-width: 800px;
    --input-width: 352px;
    --input-height: 4.5rem;
    --input-rel-top: 1.5rem;
    --list-height: 4.5rem;
    --item_span-width: 650px;

    --byte_displayer-ft-size: 0.8rem;
  }
}