.custom-input {
  width: var(--input-width);
  height: var(--input-height);
  margin-right: var(--input-right-margin);
  padding-left: var(--input-left-padding);

  border-radius: 20px;
}

.custom-input>input {
  width: 100%;
  position: relative;
  top: var(--input-rel-top);
}

.custom-input>.byte_displayer {
  position: relative;
  top: 3rem;
  right: 5rem;

  font-size: var(--byte_displayer-ft-size);
}