.custom-input {
  padding: 0.8rem;
  border: 2px solid var(--input-bg-color);

  border-radius: 20px;
  background-color: var(--input-bg-color);

  &:hover {
    border: 2px solid #155066;
  }
}

.custom-input>input {
  border: none;
  outline: none;
  
  width: var(--input-width);
  height: 3rem;
  
  border-radius: 20px;
  background-color: transparent;
  color: var(--text-color);
}

.custom-input>input::placeholder {
  color: var(--placeholder-text-color);
}