.navBar {
  width: 100%;
  padding: 1rem;
  
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-btn {
  margin-left: 1rem;
}

.login-btn {
  height: 2.4rem;
  padding: 0 1rem 0 1rem;
  border-radius: 1.2rem;

  font-size: 0.9rem;
  font-weight: bold;
}

.modal-btn {
  width: 14rem;
  height: 2.4rem;

  border-radius: 1.2rem;
  font-size: 0.9rem;
}