.list-sec {
  display: flex;
  flex-direction: column;
}

.refresh-btn {
  margin-left: auto;
}

.item {
  width: var(--main-width);
  height: var(--list-height);

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-radius: 20px;
  
  &:has(.read) {
    padding: 0 var(--item-horizontal-padding) 0 var(--item-horizontal-padding);
    margin: var(--list-vertical-margin) 0 var(--list-vertical-margin) 0;

    background-color: var(--list-bg-color);
  }
}

.item>.read {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  >span:first-child {
    font-size: 1.5rem;
    color: var(--list-text-color);
  }
}

.item>.edit {
  display: flex;
  flex-direction: row;
}

.item>div:last-child {
  width: 4rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}