.input-sec {
  width: var(--main-width);
  margin: var(--inputsec-margin) 0 var(--inputsec-margin) 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.add-btn {
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;

  background-color: var(--add-bg-color);
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: bold;
}