.todoApp {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: var(--title-margin) 0 var(--title-margin) 0;

  font-size: 4rem;
}

.main {
  display: flex;
  flex-direction: column;
}

.main > hr {
  align-self: stretch;
  width: 100%;
}